@media screen and (max-width: 1460px) {
    #page {
        width: 100%;
    }
    #marketStatic {
        top: 465px;
        left: 42%;
    }
    #payment {
        left: 90%;
    }
    #circle3 {
        left: 88% !important;
    }
    #circle4 {
        left: 93% !important;
    }
}
@media screen and (max-width: 1150px) {
    #page {
        height: 1410px;
    }
    #marketStatic {
        top: 1116px;
        left: 50px;
    }
    #circleBig {
        top: 804px;
        left: 27%;
    }
    #circle1 {
        top: 1294px !important;
        left: 32% !important; 
    }
    #circle2 {
        top: +765px !important;
        left: 39% !important;
    }
    #circle3 {
        top: 806px !important;
        left: 84% !important; 
    }
    #circle4 {
        top: 1303px !important;
        left: 86%;
    }
    #payment {
        top: 891px;
        left: 86%;
    }
    #availability {
        top: 1601px;
        width: 475.17px;
        height: 1217px;
        #hotelImgAvailability {
            width: 475.17px;
            top: 171px;
            img {
                width: 475.17px;
            }
        }
        #chkAvailability {
            left: 0;
            top: 694px;
        }
    }
    #popularRooms {
        top: 1812px;
        width: 730px;
        height: 1189px;
        span:nth-child(1) {
            margin: 0 auto;
            display: block;
            position: relative;
        }
        p {
            top: 43px;
        }
        #deluxe,
        #luxury {
            top: 275px;
        }
        #single {
            position: absolute;
            left: 181.5px;
        }
    }
    #services {
        width: 730px;
        height: 674px;
        top: 2012px;
        #roomServices {
            left: 0;
            top: 516px;
        }
        #breakfast {
            left: 380px;
            top: 516px;
        }
    }
    #numbers {
        width: 473px;
        top: 2212px;
        hr:nth-child(6) {
            display: none;
        }
        span:nth-child(7) {
            left: 0;
            top: 170px;
        }
        span:nth-child(8) {
            left: 0;
            top: 240px;
        }
        hr:nth-child(9) {
            left: 214px;
            top: 200px;
        }
        span:nth-child(10) {
            left: 300px;
            top: 170px;
        }
        span:nth-child(11) {
            left: 300px;
            top: 240px;
        }
    }
    #history {
        top: 2535px;
        width: 554.5px;
        height: 1046px;
        iframe:nth-child(8) {
            top: 523px;
            left: 0;
        }
    }
    #customers {
        top: 2678px;
        width: 730px;
        height: 1024px;
        #firstComment {
            top: 150px;
        }
        #thirdComment {
            left: 320px;
            top: 580px;
        }
    }
    #blog {
        top: 2800px;
        width: 730px;
        height: 1225px;
        #thirdArticle {
            left: 181.5px;
            top: 700px;
        }
    }
    #subscribe {
        top: 3000px;
        width: 800px;
        #email {
            left: 182px;
            width: 386px;
        }
        #arrowToTopLightBlueSmall1,
        #arrowToTopLightBlueSmall3 {
            left: 720px;
        }
        #arrowToTopLightBlueSmall2,
        #arrowToTopLightBlueSmall4 {
            left: 760px;
        }
        #subscribeButton {
            left: 568px;
        }
    }
}
@media screen and (max-width: 913px) {
    #payment {
        left: 80%;
    }
}
@media screen and (max-width: 824px) {
    #page {
        height: 796px;
    }
    #circleBig,
    #marketStatic,
    #payment,
    #circle1,
    #circle2,
    #circle3,
    #circle4 {
        display: none;
    }
    #availability {
        top: 1000px;
    }
    #popularRooms {
        top: 1200px;
        height: 1646px;
        width: 400px;
    }
    #deluxe,
    #luxury,
    #single {
        left: 25.5px !important;
    } 
    #luxury {
        top: 745px !important;
    }
    #services {
        top: 1400px;
        width: 350px;
        height: 1240px;
        #parkingSpace {
            top: 704px;
            left: 0;
        }
        #fibreInternet {
            top: 892px;
            left: 0;
        } 
        #breakfast {
            top: 1080px;
            left: 0;
        }
    }
    #numbers {
        top: 1600px;
    }
    #history {
        top: 1950px;
        width: 500px;
        #arrowToTop5,
        #arrowToTop6,
        #arrowToTop7,
        #arrowToTop8 {
            display: none;
        }
        iframe {
            width: 500px !important;
        }
    }
    #customers {
        top: 2150px;
        width: 360px;
        height: 1427px;
        p {
            top: 90px;
        }
        #firstComment {
            top: 200px !important;
        }
        #secondComment {
            top: 619px;
            left: 0;
        }
        #thirdComment {
            top: 1038px;
            left: 0;
        }
    }
    #blog {
        top: 2350px;
        width: 350px;
        height: 1791px;
        #secondArticle {
            left: 0;
            top: 703px;
        }
        #thirdArticle {
            left: 0;
            top: 1266px;
        }
    }
    #subscribe {
        top: 2550px;
        width: 500px;
        p {
            font-size: 30px;
        }
        #email {
            width: 246px;
            left: 112px;
        }
        #subscribeButton {
            left: 345px;
        }
        #arrowToTopLightBlueBig1,
        #arrowToTopLightBlueBig2,
        #arrowToTopLightBlueBig3,
        #arrowToTopLightBlueBig4,
        #arrowToTopLightBlueSmall1,
        #arrowToTopLightBlueSmall2,
        #arrowToTopLightBlueSmall3,
        #arrowToTopLightBlueSmall4 {
            display: none;
        }
    }
}
@media screen and (max-width: 530px) {
    #page {
        p:nth-child(1) {
            font-size: 30px;
        }
        p:nth-child(2) {
            font-size: 13px;
        }
    }
    #getStarted {
        top: 553px;
    }
    #availability {
        width: 98%;
        span {
            font-size: 30px !important;
        }
        p {
            font-size: 15px;
        }
        #hotelImgAvailability {
            width: 100%;
            img {
                width: 100%;
            }
        }
        #chkAvailability {
            width: 100%;
        #checkIn,
        #checkOut,
        #rooms,
        #availabilitySubmit {
            width: 200px;
        }
    }
    }
    #popularRooms {
        width: 320px;
        span:nth-child(1) {
            font-size: 30px !important;
        }
        p {
            font-size: 13px !important;
        }
        #deluxe,
        #luxury,
        #single {
            left: 0 !important;
            width: 320px;
            img:nth-child(1) {
                width: 322px;
            }
        }
    }
    
}


@media screen and (max-width: 360px) {
    #page {
        p:nth-child(1) {
            font-size: 25px;
        }
        p:nth-child(2) {
            font-size: 10px;
        }
    }
    #getStarted {
        top: 553px;
        #watchButton {
            left: 0;
            top: 93px;
        }
        #insideWatch {
            left: 13px;
            top: 103px;
        }
        #watchVideo {
            left: 50px;
            top: 100px;
        }    
    }
    
        
    #checkIn,
    #checkOut,
    #rooms {
        width: 200px;
        
    }
    #checkInLabel,
    #checkOutLabel,
    #roomsLabel,
    #availabilitySubmit {
        left: 40px !important;
    }
    #services {
        span:nth-child(1) {
            left: -20px !important;
        }
        span:nth-child(2) {
            left: -20px !important;
        }
        
    }
    
    .facilities {
        width: 310px !important;
        
        p {
            font-size: 10px !important;
        }
        img {
            left: 244px;
        }
    }


}